@import './colors.scss';
@import './font.scss';

@mixin add-product-button {
  height: 50px;
  width: 300px;
  border: 0;
  text-transform: uppercase;
  color: $button-text-secondary;
  background-color: $add-product-button-background;
}

@mixin catalog-item-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: $catalog-item-button-background;
}

@mixin cart-preview-view-bag-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 165px;
  height: 55px;
  text-decoration: none;
  border: 1px solid black;
  text-transform: uppercase;
  color: $button-text-primary;
}

@mixin cart-preview-view-check-out {
  width: 165px;
  height: 55px;
  border: 0;
  text-transform: uppercase;
  color: $button-text-secondary;
  background-color: $cart-preview-button-background;
}

@mixin order-button {
  width: 280px;
  height: 50px;
  font-size: 1rem;
  text-transform: uppercase;
  color: $text-secondary;
  border: 0;
  background-color: $cart-order-button;
} 