$text-primary: rgba(29, 31, 34, 1);
$text-secondary: #FFFFFF;

$button-text-primary: rgba(29, 31, 34, 1);
$button-text-secondary: rgba(255, 255, 255, 1);

$category-active-border: rgba(94, 206, 123, 1);
$category-active-text: rgba(94, 206, 123, 1);

$catalog-item-background: #ffffff;
$catalog-item-button-background: rgba(94, 206, 123, 1);

$add-product-button-background: rgba(94, 206, 123, 1);;