@import './adaptive.scss';
@import './colors.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

@mixin raleway-light {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 0.8rem;
}

@mixin raleway-regular {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

@mixin raleway-medium {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 1rem;
}

@mixin raleway-bold {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
}

@mixin page-title {
  font-family: "Roboto";
  font-size: 42px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  text-transform: capitalize;

  color: $text-primary;

  @include laptop {
    font-size: 36px;
  }

  @include phones {
    font-size: 32px;
  }
}