@import '../../../utils/utils.scss';

.cart-preview-item-attribute-container {
  display: flex;
  margin-right: 5px;

  &__input {
    display: none;
  }

  &__input:checked ~ &__label {
    background-color: $item-page-attribute-checked-button-background;
    color: $button-text-secondary;
    transform: scale(1.1);
    transition: .2s;
  }

  &__label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    font-size: 11px;
    border: 1px solid black;

    &:hover {
      cursor: pointer;
    }
  }
}