@import '../../../utils/utils.scss';

.cart-preview-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;

  &__cart-link, &__check-out {
    &:hover {
      @include default-hover;
    }
  }

  &__cart-link {
    @include cart-preview-view-bag-button;
  }

  &__check-out {
    @include cart-preview-view-check-out;
  }
}