@import '../../utils/utils.scss';

.not-found {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 80px);
  @include raleway-bold;
  font-size: 30px;
}